* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "lato", sans-serif;
    background: #FDBB58;
    background-image: url("resources/main-background-img.png");
    color: rgb(0, 31, 80);
    line-height: 2;
    margin-bottom: 40px;

}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0 10px 0;
    font-size: 30pt;
    color: rgb(0, 31, 80);
}

h2 {    
    text-align: center;
    margin: 20px;
}

h2 .title {    
    margin: 0 20px 20px 20px;
}

h3 {    
    text-align: center;
}
p {
    text-align: center;

}

.logo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-wrapper {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;
}

.form-wrapper.form {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffd493;
    border-radius: 16px;
    max-width: 1100px;
    margin: 20px auto;
    padding: 40px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

form {
    width: 100%;
    max-width: 1000px;
    display: block;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: auto;
    gap: 20px;
}

form label {
    margin-bottom: 5px; 
    font-weight: bold; 
}

.flex-form-row {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
}

.flex-form-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 400px;
    gap: 5px;
    margin: 0 30px;
}

.sighting-card {
  background: #ffd493;
  opacity: 0.9;
  border-radius: 16px;
  padding: 30px 40px;
  max-width: 900px;
  margin: 40px auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.form-card {
  background: #ffd493;
  border-radius: 16px;
  padding: 30px 40px;
  max-width: 900px;
  margin: 40px auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.sighting-row {
  display: flex;
  gap: 40px;      
  margin-bottom: 30px;
  justify-content: center;
}

.sighting-column {
  display: flex;
  flex-direction: column;
  gap: 6px; 
  align-items: center;
  text-align: center;      
}

.sighting-column h2 {
  margin: 0;
}

.sighting-column p {
  margin: 0;
}
.species-sighting {
    background: #ffd493;
    opacity: 0.9;
    border-radius: 16px;
    padding: 30px 40px;
    max-width: 900px;
    margin: 40px auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

form input, form textarea, form select {
    width: 100%;     
    padding: 10px;
    margin-bottom: 5px; 
    color: rgb(0, 27, 70);
    border: 1px solid #1f508b;
    background-color: rgb(153, 191, 221);
    border-radius: 6px;
    box-sizing: border-box;
}  

.nav {
    display: flex;
    font-family: "lato", sans-serif;
    text-transform: uppercase;
    justify-content: space-around;
    text-align: bottom;
    align-items: center;
    padding: 10px 10px;
    margin: auto;
    background: #ffd493;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color:rgb(0, 31, 80);
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}

nav a:hover {
    background-color: #ffd493;
 border-radius: 15px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-transform: capitalize;
}

li {
    background:#BD81A1;
    border-radius: 10px;
    width: 50%;
    margin: 10px 15px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
    transition: 1s;
}

a {
    display: block;
    padding: 20px;
    margin: 10px;
    text-decoration: none; 
    font-weight: 500;
    
}

a:link {
    color:rgb(0, 31, 80)
}

a:visited {
    color:#154780;

}

li:hover {
    background-color: #e299c0;
}

.link-button {
    padding: 5px 20px;
    margin: 30px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    background: rgb(153, 191, 221);
    border: 1px solid #1D60AF;
    border-radius: 14px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    text-decoration: none;
    display: inline-block;
}

.link-button:hover {
    background: rgb(169, 213, 246);

}

.link-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    padding: 15px 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background: #1D60AF;
    border: 2px solid #133964;
    border-radius: 15px;;
    color:#e4ebfe;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    text-decoration: none;
    display: inline-block;
}

.submit:hover {
    background: #2477d7;
}

.sign {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    background: rgb(153, 191, 221);
    border: 2px solid hsl(0, 0%, 52%);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    text-decoration: none;
    display: inline-block;
}

.delete {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    background: linear-gradient(70deg, #3c7aed, #5d80d9);
    border: 2px solid hsl(218, 57%, 47%);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    text-decoration: none;
    display: inline-block;
}

.capitalise {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.seen {
    text-align: center;
}

.species-cards {
    text-transform: uppercase;
}

.habitat-cards {
    text-transform: uppercase;
        background: #20228e;
}

.habitats.onIndex {
    color: rgb(221, 240, 255);
}

.habitat-cards:hover {
    background: #5356e1;
}

#main-title {
    font-family: "Rock Salt";
    margin-top: 30px;
}

#main-page-wrapper {
    background: #ffd49370;
    border-radius: 300px;
    padding: 30px 40px;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}