* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: #7c9db0;
    color: #FDBB58;
    line-height: normal;
}

main {
    width: 100%;
    margin: auto;
    padding: auto;
}
