<nav>
  <% if (user) { %>
    <a href="/species">Species</a>
    <a href="/list">Sightings</a>
    <a href="/hit-list">Wish List</a>
    <a href="/habitat">Habitats</a>
    <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
    <a href="/auth/register"> Register</a>
    <a href="/auth/sign-in">Sign In</a>
  <% } %>
</nav>
