<nav>
  <% if (user) { %>
    <a href="/list">Spot List</a>
    <a href="/hit-list">Hit List</a>
    <a href="/habitats">Habitats</a>
    <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
    <a href="/auth/register"> Register</a>
    <a href="/auth/sign-in">Sign In</a>
  <% } %>
</nav>
