<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Wish List</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>My Wish List</h1>
    <h2>Birds I Hope to Spot</h2>
    <% if (listItems.length === 0) { %>
    <h2>No sightings yet!</h2>
         <% } else { %>
    <ul>
        <% listItems.forEach(item => { %>
        <li><%= item.name %></li>
        <form action="/hit-list/<%=item._id%>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
        <a href="/hit-list/<%= item._id %>/edit">Add to Sightings</a>
        <% }) %>
    </ul>
    <% } %>
    <a href="/hit-list/new">Add New Species To Wish List</a><br>
</body>
</html>