<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sightings</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>My Sightings</h1>
    <% if (listItems.length === 0) { %>
    <h2>No sightings yet!</h2>
         <% } else { %>
    <ul>
        <% listItems.forEach((item, index) => { %>
        <li><a href="/list/<%= item._id %>"><%= item.displayName %>: Sighting on <%= item.formattedDate %></a></li>
        <% }) %>
    </ul>
    <% } %>

    <a href="/list/new">Add New Sighting</a><br>
</body>
</html>