<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitats</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Habitats</h1>
    <ul>
        <% habitats.forEach(habitat => { 
        if (habitat.country.some(item => {return item._id == user.country})) {%>
        <li><a href="/habitat/<%= habitat._id %>"><%= habitat.name %></a></li>
        <% }}) %>
    </ul>
    <a href="/list/new">Add New Sighting</a><br>
</body>
</html>